.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
    overflow-y: scroll;
}


body {
    background-color: #202020;
    height: 100%;
    color: #888;
    font-family: sans-serif;
}

.main_body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    width: 800px;
    height: 100%;
    box-shadow: 0 0px 5px rgba(0,0,0,.9);
    border-radius: 2px;
}

.dark-gray_bg {
    background-color: #080808;
}

.gray_bg {
    background-color: #181818;
}

#calc_title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 600px;
    margin: auto;
    border-bottom: solid 2px white;
}

.calc_skills {
    width: 525px;
    display: block;
    margin: auto;
}

.calc_skill {
    height: 22px;
    border: solid 1px #888;
    padding: 10px;
    color: #888;
    display: inline-block;
    width: 150px;
    margin-top: 5px;
    border-radius: 2px;
}

.calc_skill:hover {
    cursor: pointer;
    color: white;
    border-color: white;
}

.calc_skill:active {
    background-color: grey;
    color: white;
    border-color: white;
}


.calc_skill_icon {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin-right: -5px;
    display: inline-block;
}

.calc_skill_name {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    width: 128px;
    text-align: center;
}

#calc_loading {
    margin-top: 10px;
    text-align: center;
}

#calc_skills {
    display: none;
}

#prayer_icon {
    background-image: url('./assets/stats/Prayer-icon.png');
}
#magic_icon {
    background-image: url('./assets/stats/Magic-icon.png');
}
#cooking_icon {
    background-image: url('./assets/stats/Cooking-icon.png');
}
#woodcutting_icon {
    background-image: url('./assets/stats/Woodcutting-icon.png');
}
#fletching_icon {
    background-image: url('./assets/stats/Fletching-icon.png');
}
#fishing_icon {
    background-image: url('./assets/stats/Fishing-icon.png');
}
#firemaking_icon {
    background-image: url('./assets/stats/Firemaking-icon.png');
}
#crafting_icon {
    background-image: url('./assets/stats/Crafting-icon.png');
}
#smithing_icon {
    background-image: url('./assets/stats/Smithing-icon.png');
}
#mining_icon {
    background-image: url('./assets/stats/Mining-icon.png');
}
#herblore_icon {
    background-image: url('./assets/stats/Herblore-icon.png');
}
#agility_icon {
    background-image: url('./assets/stats/Agility-icon.png');
}
#thieving_icon {
    background-image: url('./assets/stats/Thieving-icon.png');
}
#farming_icon {
    background-image: url('./assets/stats/Farming-icon.png');
}
#runecrafting_icon {
    background-image: url('./assets/stats/Runecrafting-icon.png');
}
#hunter_icon {
    background-image: url('./assets/stats/Hunter-icon.png');
}
#construction_icon {
    background-image: url('./assets/stats/Construction-icon.png');
}
#summoning_icon {
    background-image: url('./assets/stats/Summoning-icon.png');
}

.button {
    background-color: #424242;
    color: white;
    border: none;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
}

.button:hover {
    cursor: pointer;
    background-color: #080808;
}

.button:active {
    outline: rgb(51, 122, 183);
    background-color: rgb(51, 122, 183);
}

#calc {
    display: none;
    width: 503px;
    margin: auto;
    margin-top: 5px;
    border: solid 1px #888;
    padding: 10px;
    border-radius: 2px;
}

#calc_return {
    font-size: 14px;
}

#calc_return:hover {
    cursor: pointer;
    color: white;
    border-bottom: solid white 1px;
}

#calc_data {
    margin-top: 10px;
}

.calc_user_data {
    text-align: center;
    padding: 10px;
}

#calc_data table:first-child {
    width: 300px;
    border: none;
    padding: 0px;
    margin: auto;
    text-align: center;
}

#calc_data table tr td {
    min-width: 100px;
    min-height: 25px;
}

.table_darkcell {
    background-color: #181818;
}

#submit_user {
    width: 65px;
}

#submit_user:disabled {
    background-color: grey;
    cursor: default; 
    border: none;
}

.calc_data_input {
    text-align: center;
    width: 95px;
}

.calc_data_input[type=number]::-webkit-inner-spin-button, .calc_data_input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#calc_category {
    width: 280px;
    border: solid #181818 1px;
    padding: 0px;
    margin: auto;
    text-align: center;
}

#calc_category tr td:first-child {
    width: 100px;
}

#calc_category tr td:nth-child(2), #calc_category tr td select {
    width: 180px;
}